<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties" />
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>	
	
	<typeAliases>
		<typeAlias type="kr.or.dgit.mybatis_code.dto.Student" alias="Student" /> <!-- alias는 별명임 -->
		<!-- <package name="kr.or.dgit.mybatis_code.dto" /> --> <!-- package로 경로 지정 시 별도로 지정해주지 않아도 됨 -->
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- resource를 이용한 경우 -->
		<mapper resource="kr/or/dgit/mybatis_code/mappers/studentMapper.xml" /> <!-- 실제 mapper파일이 있는 위치 -->

	</mappers>
</configuration>